<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.dbcommunity.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.db.dbcommunity.user.model.entity.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="CHAR"/>
            <result property="nickname" column="nick_name" jdbcType="VARCHAR"/>
            <result property="realname" column="real_name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="enterSchoolYear" column="enter_school_year" jdbcType="TINYINT"/>
            <result property="majorId" column="major_id" jdbcType="OTHER"/>
            <result property="schoolId" column="school_id" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="UserAuthMap" type="com.db.dbcommunity.user.model.dto.UserAuthDTO">
        <id property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <collection property="roles" ofType="string" javaType="list">
            <result column="roleCode"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        nick_name,real_name,avatar,
        introduce,email,phone,
        enter_school_year,major_id,school_id,
        status,create_time,update_time,
        deleted
    </sql>
    <select id="selectUserAuthByAccount" resultMap="UserAuthMap">
        select t1.user_id userId, t1.username, t1.password, t1.status, t3.code roleCode
        from user t1,
             user_role t2,
             role t3
        where (t1.username = #{account} or t1.email = #{account} or t1.phone = #{account})
          and t1.deleted = 0
          and t1.user_id = t2.user_id
          and t2.role_id = t3.id
    </select>
</mapper>
